<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SistemaHotel_v1.Properties.Settings.bdSistemaHotelConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Modelo\bdSistemaHotel.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SistemaHotel_v1.Properties.Settings.C__USERS_GABRIELA_ASTUDILLO_DOCUMENTS_VISUAL_STUDIO_2017_PROJECTS_SISTEMAHOTEL_V1_SISTEMAHOTEL_V1_MODELO_BDSISTEMAHOTEL_"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=&quot;C:\USERS\GABRIELA ASTUDILLO\DOCUMENTS\VISUAL STUDIO 2017\PROJECTS\SISTEMAHOTEL_V1\SISTEMAHOTEL_V1\MODELO\BDSISTEMAHOTEL.MDF&quot;;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>